<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
        <script src="../static/client.js"></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>BABY CRYING?</div>
                <div class='content'>
                    <div id='display'>
                        <button class='record_button', type='button', onclick='startRecording()'>RECORD</button>
                    </div>
                    <div id='try_again'></div>
                </div>
            </div>
        </div>
    </body>
</html>