<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" defer>
        <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" defer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
        <script src="../static/client.js"></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'><span class='bottom-border-span'>BABY CRYING?</span></div>
                <div class='content'>
                    <div id='display'>
                        <button class='record_button', type='button', onclick='startRecording()'>RECORD</button>
                    </div>
                    <div id='try_again'>
                        <button class='secondary_button', type='button', onclick='backToInitialState()'>Upto 5 seconds</button>
                    </div>
                </div>
                <div class="footer">
                    Use <a href='https://www.youtube.com/results?search_query=baby+crying' target='_blank'>Youtube</a> to test, if you don't have a crying baby :)
                <div>
            </div>
        </div>
    </body>
</html>